<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>278794950326-9g01v6rlk5hgotcinrr21jt06se2llej.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.278794950326-9g01v6rlk5hgotcinrr21jt06se2llej</string>
	<key>API_KEY</key>
	<string>AIzaSyAi8hHhjKRd5kUur_zZcJogqP8QR9J9phU</string>
	<key>GCM_SENDER_ID</key>
	<string>278794950326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>firebasekaron.com.firebaseproject</string>
	<key>PROJECT_ID</key>
	<string>my-first-firebase-4c2e2</string>
	<key>STORAGE_BUCKET</key>
	<string>my-first-firebase-4c2e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278794950326:ios:4ed81475f426f70f683817</string>
</dict>
</plist>